<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Your Name</h1>
    <!-- templates/my_form.html -->

    <form method="post" action="send-email">
        {% csrf_token %}

        <label for="id_subject">Subject:</label>
        <input type="text" name="subject" id="id_subject" required>

        <label for="id_message">Message:</label>
        <textarea name="message" id="id_message" required></textarea>

        <label for="id_sender">Sender:</label>
        <input type="email" name="sender" id="id_sender" required>

        <input type="checkbox" name="cc_myself" id="id_cc_myself">
        <label for="id_cc_myself">Send a copy to myself</label>

        <button type="submit">Submit</button>
    </form>

    <br>
    <!-- <a href="your-name">qua Name</a> -->
</body>

</html>